apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: devops-tools
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-server
  template:
    metadata:
      labels:
        app: jenkins-server
    spec:
      securityContext:
            fsGroup: 1000
            runAsUser: 0
      initContainers:
        - name: install-docker
          image: docker:stable
          command: ["cp", "usr/local/bin/docker", "/data/docker" ]
          volumeMounts:
          - name: docker
            mountPath: "/data"
        - name: install-kubectl
          image: eslamkarim/jenkins-ansible-kubectl
          command: ["cp", "usr/local/bin/kubectl", "/data/kubectl" ]
          volumeMounts:
          - name: kubectl
            mountPath: "/data"

      serviceAccountName: jenkins-admin
      containers:
        - name: jenkins
          image: jenkins/jenkins:lts
          resources:
            limits:
              memory: "2Gi"
              cpu: "1000m"
            requests:
              memory: "500Mi"
              cpu: "500m"
          ports:
            - name: httpport
              containerPort: 8080
            - name: jnlpport
              containerPort: 50000
          # livenessProbe:
          #   httpGet:
          #     path: "/login"
          #     port: 8080
          #   initialDelaySeconds: 90
          #   periodSeconds: 10
          #   timeoutSeconds: 5
          #   failureThreshold: 5
          readinessProbe:
            httpGet:
              path: "/login"
              port: 8080
              scheme: HTTP
            # initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 2
            timeoutSeconds: 5
            failureThreshold: 5

          volumeMounts:
            - name: jenkins-data
              mountPath: /var/jenkins_home
      volumes:
        - hostPath:
            path: /var/run
            type: ""
          name: docker-sock
        - name: jenkins-data
          persistentVolumeClaim:
              claimName: jenkins-pv-claim

        - name: docker
          emptyDir: {}
        - name: kubectl
          emptyDir: {}
          
        